body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;
    color: #1b1b1b;
    background-color: #fff;
    margin-left: 3%;
}
h1 {
    color: #0e61bc;
}
label {
    display: inline-block;
    width: 5em;
}